

@model EuroDonet.Model.Societe.ML_DonetSocieteListVM


@{
    ViewBag.Title = "Liste des sociétés";
}


<body>

    @{
        // *******         CSS       ***********
        // > On utilise par défaut le fichier "site.css"  <
    }


   @{
        // > On installe le jumbotron  <
    }
    <div class="jumbotron">
        <br />
         <h1 class="text-center">Les sociétés</h1>
         <br />
    </div>


    <br />
    <br />
    @{
        // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        // ##                                                                         ##
        // ##     > Cadrage à droite de la vue  (class="text-right")                  ##
        // ##     > La classe "Lien_vue" crée un "INLINE-BLOCK dans lequel on...      ##
        // ##       ...centre le texte du lien.                                       ##
        // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    }

    <div>
        @Html.ActionLink("Les collaborateurs", "PageEnTravauxGet", "PageEnPreparation", null, new { @class = "Lien_vue" })
    </div>
     <br />
     <div>
        @Html.ActionLink("Les adresses", "AdressesList", "Adresse", null, new { @class = "Lien_vue" })
    </div>

    <br />


    <div class="container text-entete-list text-center">

        @{
            // > Création d'une table avec lignes de coouleurs différentes <
        }

        <table class="table table-striped table-responsive">

            @{
                // > Entête colonne  <
            }

            <thead class="thead-dark">
                @{
                    // > Ligne  <
                }
                <tr>
                    @{
                        // > Cellule avec bordure ("table-bordered")   <
                    }
                    <th class="table-bordered">Raison sociale</th>


                    @{
                        // > Cellule avec bordure ("table-bordered")  <
                    }
                    <th class="table-bordered">Choisir une option</th>

                </tr>
            </thead>

            <tbody>

                @if (@Model != null)
                {

                    @foreach (var Societe in Model.ListSocietes)
                    {

                        // Remarque : pas la peine d'insérer un @{} car on est déjà dans...
                        // un code C#  avec un "@foreach

                        // > On affiche en tant que lien le nom de l'imprimante <
                        // > On passe en paramètre à l'action  "ImpGetDetail" du contrôleur "Imp" ...<
                        // > ...le paramètre passé est l'ID de l'imprimante <

                        // > Les balises <tr></tr> permettent de créer une ligne <

                        <tr>
                            @{
                                // > Cellule 1   <
                            }
                            <th class="table-bordered">
                                @Html.ActionLink(Societe.RaisonSociale, "SocieteGet", "Societe",
                                new { _IDSociete = Societe.Id_Societe }, new { @class = "Description_Royal-Blue" })


                            </th>

                            @{
                                // > Cellule 2 <
                            }
                            <th class="table-bordered text-center">


                                @Html.ActionLink(" Modifier ", "SocieteGet", "Societe",
                             new { _IDSociete = Societe.Id_Societe }, new { @class = "Option_Modifier" })


                                @Html.ActionLink(" supprimer ", "PageEnTravauxGet", "PageEnPreparation",
                             new { _IDSociete = Societe.Id_Societe }, new { @class = "Option_Supprimer" })
                            </th>
                                         

                        </tr>

                    }
                }

            </tbody>


        </table>

    </div>

    <br />
    <br />

     
    <div class="container bg-light text-center">

        @{
            // > Bouton "Ajouter une société " :
            //      Redirection vers la page "Ajouter une société " <
            //     ActionLink("Texte du lien", "Nom_Méthode", "Nom_Contrôleur")
        }

        @using (Html.BeginForm("SocieteGet", "Societe", FormMethod.Get))
        {

                <button type="submit" class="text-center buttonAdd">Ajouter une société</button>

        }

    </div>


</body>
